name: Upload to folk
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: copy file via ssh password
      uses: appleboy/scp-action@master
      with:
        host: hjskog@login.stud.ntnu.no
        username: hjskog
        password: ${{ secrets.FTP_PASSWORD }}
        port: 22
        source: "halloja.txt"
        target: "test"
